<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" alt="logo" class="img-responsive logo">
            <h3 class="text-center">Account Login</h3>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" required value={{name}}>
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required value={{email}}>
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" required>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>